*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
    box-sizing: border-box;
}

header{
    height: 20%;
    width: 100%;
    background-color: black;
    display: flex;
}

header div#title{
    width: 50%;
    padding-left: 15%;
    padding-top: 2.5%;
    color: white;
}

header div#links{
    width: 50%;
    text-align: right;
}

header div#links ul{
    list-style: none;
}

header div#links ul li{
    display: inline;
}

header div#links ul li a{
    text-decoration: none;
    color: white;
}